body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #87CEEB, #ffffff, #1E90FF);
    color: #333333;
}

.containerSaludo {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0px;
    font-size: 10px;
}
 
#saludo{
    margin-bottom: 0px;
}

.datosTiempo {
    font-size: 12px;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#txt{
    font-size: 16px;
    text-align: justify;
    margin-bottom: 0px;
    margin-top: 0px;
}

#dateT{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
}

#clock {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#feliz{
    padding-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}

#txtMoments{
    font-size: 15px;
    padding-top: 50px;
    margin-top: 0px;
    text-align: justify;
    padding-right: 15px;
}
#corazon{
    color: red;
    display: inline;
}
/*slider-moments*/
.slider-moments{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 40%;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 10px;
    border: 4px solid #000000;
}
.slider-moments ul{
    display: flex;
    padding: 0;
    width: 500%;
    animation: cambio 15s infinite alternate;
    animation-timing-function: ease-in;
}

.slider-moments ul{
    margin: 0px;
}

.slider-moments li{
    list-style: none;
}

.slider-moments img{
    width: 100%;
    height: 100%;
}

@keyframes cambio{
    0% {margin-left: 0%;}
    16% {margin-left: 0%;}

    22% {margin-left: -100%;}
    37% {margin-left: -100%;}

    43% {margin-left: -200%;}
    58% {margin-left: -200%;}

    64% {margin-left: -300%;}
    79% {margin-left: -300%;}

    85% {margin-left: -400%;}
    100% {margin-left: -400%;}
}	

/* Estilos para cada flor */
.flower {
    position: absolute;
    width: 40px;
    height: 40px;
    transform-origin: bottom center; /* Rotación desde la base */
}

.flowers {
    position: relative;
    width: 200px; /* Tamaño del ramo */
    height: 200px;
}

.flower .center {
    width: 36px; /* Centro más pequeño */
    height: 36px;
    background-color: #6C3B2A; 
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.flower .petal {
    width: 24px;
    height: 36px;
    background-color: #FFD700; /* Amarillo dorado */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top center;
}

/* Estilos para el tallo */
.flower .tallo {
    width: 12px;
    height: 100px;
    background-color: #00913F;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform-origin: top center;
    z-index: -1;
}

/* Posicionamiento de los pétalos */
.flower .petal:nth-child(1) { transform: translate(-50%, -50%) rotate(0deg); }
.flower .petal:nth-child(2) { transform: translate(-50%, -50%) rotate(23deg); }
.flower .petal:nth-child(3) { transform: translate(-50%, -50%) rotate(67deg); }
.flower .petal:nth-child(4) { transform: translate(-50%, -50%) rotate(112deg); }
.flower .petal:nth-child(5) { transform: translate(-50%, -50%) rotate(157deg); }
.flower .petal:nth-child(6) { transform: translate(-50%, -50%) rotate(202deg); }
.flower .petal:nth-child(7) { transform: translate(-50%, -50%) rotate(247deg); }
.flower .petal:nth-child(8) { transform: translate(-50%, -50%) rotate(292deg); }
.flower .petal:nth-child(9) { transform: translate(-50%, -50%) rotate(337deg); }
.flower .petal:nth-child(10) { transform: translate(-50%, -50%) rotate(45deg); }
.flower .petal:nth-child(11) { transform: translate(-50%, -50%) rotate(90deg); }
.flower .petal:nth-child(12) { transform: translate(-50%, -50%) rotate(135deg); }
.flower .petal:nth-child(13) { transform: translate(-50%, -50%) rotate(180deg); }
.flower .petal:nth-child(14) { transform: translate(-50%, -50%) rotate(225deg); }
.flower .petal:nth-child(15) { transform: translate(-50%, -50%) rotate(270deg); }
.flower .petal:nth-child(16) { transform: translate(-50%, -50%) rotate(315deg); }
.flower .petal:nth-child(17) { transform: translate(-50%, -50%) rotate(360deg); }

.flower-container {
    position: fixed; /* Fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; /* Centra verticalmente */
    background: rgba(145, 145, 145, 0.944); /* Fondo semitransparente */
    z-index: 1000; /* Asegura que esté por encima de todo */
}

/* Posicionamiento de las flores */
.flower:nth-child(1) { transform: translate(-50%, -50%) rotate(0deg) translateY(-140px) translateX(0px); }
.flower:nth-child(2) { transform: translate(-50%, -50%) rotate(9deg) translateY(-140px) translateX(20px); }
.flower:nth-child(3) { transform: translate(-50%, -50%) rotate(-9deg) translateY(-140px) translateX(-20px); }
.flower:nth-child(4) { transform: translate(-50%, -50%) rotate(18deg) translateY(-140px) translateX(40px); }
.flower:nth-child(5) { transform: translate(-50%, -50%) rotate(-18deg) translateY(-140px) translateX(-40px); }
.flower:nth-child(6) { transform: translate(-50%, -50%) rotate(0deg) translateY(-110px) translateX(0px); }
.flower:nth-child(7) { transform: translate(-50%, -50%) rotate(9deg) translateY(-110px) translateX(20px); }
.flower:nth-child(8) { transform: translate(-50%, -50%) rotate(-9deg) translateY(-110px) translateX(-20px); }
.flower:nth-child(9) { transform: translate(-50%, -50%) rotate(18deg) translateY(-110px) translateX(40px); }
.flower:nth-child(10) { transform: translate(-50%, -50%) rotate(-18deg) translateY(-110px) translateX(-40px); }
.flower:nth-child(11) { transform: translate(-50%, -50%) rotate(0deg) translateY(-80px) translateX(0px); }
.flower:nth-child(12) { transform: translate(-50%, -50%) rotate(9deg) translateY(-80px) translateX(20px); }
.flower:nth-child(13) { transform: translate(-50%, -50%) rotate(-9deg) translateY(-80px) translateX(-20px); }
.flower:nth-child(14) { transform: translate(-50%, -50%) rotate(18deg) translateY(-80px) translateX(40px); }
.flower:nth-child(15) { transform: translate(-50%, -50%) rotate(-18deg) translateY(-80px) translateX(-40px); }
.flower:nth-child(16) { transform: translate(-50%, -50%) rotate(0deg) translateY(-50px) translateX(0px); }
.flower:nth-child(17) { transform: translate(-50%, -50%) rotate(9deg) translateY(-50px) translateX(20px); }
.flower:nth-child(18) { transform: translate(-50%, -50%) rotate(-9deg) translateY(-50px) translateX(-20px); }
.flower:nth-child(19) { transform: translate(-50%, -50%) rotate(18deg) translateY(-50px) translateX(40px); }
.flower:nth-child(20) { transform: translate(-50%, -50%) rotate(-18deg) translateY(-50px) translateX(-40px); }

.bouquet-wrapper {
    position: relative;
    width: 100%;
    height: 120px; /* Altura del envoltorio */
    background: #FFC0CB; /* Color de papel de regalo */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateX(-100px) translateY(-10px);
    border-radius: 10px;
}

.bouquet-wrapper .bouquet {
    width: 90%;
    height: 90%;
    background: #FF69B4; /* Color de lazo */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bouquet .ribbon {
    width: 100%;
    height: 20px;
    background: #FF1493; /* Color de la cinta */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 10px 10px;
}

/* Estilos para el envoltorio */

.bouquet-wrapper .wrapper {
    width: 90%;
    height: 90%;
    background: #FFC0CB; /* Color de papel de regalo */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bouquet-wrapper .wrapper .ribbon {
    width: 100%;
    height: 20px;
    background: #FF1493; /* Color de la cinta */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 10px 10px;
}

@keyframes float {
    0%, 100% {
        transform: translateX(50%) translateY(115%);
    }
    50% {
        transform: translateX(50%) translateY(105%);
    }
}

.flowers {
    animation: float 5s infinite ease-in-out;
}

.text{
    font-size: 30px;
    color: #ca0a2a;
    position: absolute;
    text-shadow: 
        -1px -1px 0 #333333,  
         1px -1px 0 #333333,
        -1px  1px 0 rgb(193, 189, 189),
         1px  1px 0 rgb(193, 189, 189); /* Borde negro */
}

@keyframes float_txt {
    0%, 100% {
        transform: translateX(10px) translateY(-175px);
    }
    50% {
        transform: translateX(10px) translateY(-200px);
    }
}

@keyframes float_txt2 {
    0%, 100% {
        transform: translateX(0px) translateY(-130px);
    }
    50% {
        transform: translateX(0px) translateY(-155px);
    }
}

.text:nth-child(1) {
    animation: float_txt 5s infinite ease-in-out;
}

.text:nth-child(2) {
    animation: float_txt2 5s infinite ease-in-out;
}
